# Global options
set timeout=1
set default=0
set fallback=1
set pager=1

# Display settings
if loadfont /boot/grub/font.pf2 ; then
    set gfxmode=640x480
    set color_normal=white/black
    set color_highlight=yellow/black
    set menu_color_normal=white/black
    set menu_color_highlight=yellow/black
	insmod efi_gop
	insmod efi_uga
	insmod gfxterm
	insmod all_video
	insmod videotest
	insmod videoinfo
	terminal_output gfxterm
fi

menuentry "Boot SystemRescue using default options" {
	set gfxpayload=keep
	linux /sysresccd/boot/x86_64/vmlinuz archisobasedir=sysresccd archisolabel=RESCUE807 iomem=relaxed ar_source=/dev/disk/by-label/Medicat
	initrd /sysresccd/boot/intel_ucode.img /sysresccd/boot/amd_ucode.img /sysresccd/boot/x86_64/sysresccd.img
}

menuentry "Boot SystemRescue and copy system to RAM (copytoram)" {
	set gfxpayload=keep
	linux /sysresccd/boot/x86_64/vmlinuz archisobasedir=sysresccd archisolabel=RESCUE807 iomem=relaxed copytoram ar_source=/dev/disk/by-label/Medicat
	initrd /sysresccd/boot/intel_ucode.img /sysresccd/boot/amd_ucode.img /sysresccd/boot/x86_64/sysresccd.img
}

menuentry "Boot SystemRescue and verify integrity of the medium (checksum)" {
	set gfxpayload=keep
	linux /sysresccd/boot/x86_64/vmlinuz archisobasedir=sysresccd archisolabel=RESCUE807 iomem=relaxed checksum ar_source=/dev/disk/by-label/Medicat
	initrd /sysresccd/boot/intel_ucode.img /sysresccd/boot/amd_ucode.img /sysresccd/boot/x86_64/sysresccd.img
}

menuentry "Boot SystemRescue using basic display drivers (nomodeset)" {
	set gfxpayload=keep
	linux /sysresccd/boot/x86_64/vmlinuz archisobasedir=sysresccd archisolabel=RESCUE807 iomem=relaxed nomodeset ar_source=/dev/disk/by-label/Medicat
	initrd /sysresccd/boot/intel_ucode.img /sysresccd/boot/amd_ucode.img /sysresccd/boot/x86_64/sysresccd.img
}

menuentry "Boot a Linux operating system installed on the disk (findroot)" {
	set gfxpayload=keep
	linux /sysresccd/boot/x86_64/vmlinuz archisobasedir=sysresccd archisolabel=RESCUE807 iomem=relaxed findroot ar_source=/dev/disk/by-label/Medicat
	initrd /sysresccd/boot/intel_ucode.img /sysresccd/boot/amd_ucode.img /sysresccd/boot/x86_64/sysresccd.img
}

menuentry "Stop during the boot process before mounting the root filesystem" {
	set gfxpayload=keep
	linux /sysresccd/boot/x86_64/vmlinuz archisobasedir=sysresccd archisolabel=RESCUE807 iomem=relaxed break ar_source=/dev/disk/by-label/Medicat
	initrd /sysresccd/boot/intel_ucode.img /sysresccd/boot/amd_ucode.img /sysresccd/boot/x86_64/sysresccd.img
}

menuentry "Start EFI Shell" {
    insmod fat
    insmod chain
    terminal_output console
    chainloader /EFI/shell.efi
}

menuentry "EFI Firmware setup" {
    fwsetup
}

menuentry "Reboot" {
    reboot
}

menuentry "Power off" {
    halt
}
